@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../../../static/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #1b99b4;
}

.first-row{
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.first-row div{
    font-size: large;
    padding: 10px;
}

.search-bar{
    width: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    max-height: 50px;
}

.search-bar input{
    background: transparent;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
    width: 90%;
}

::placeholder{
    color: white;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #2797ce;
    cursor: pointer;
}



