@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../../../static/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../../../static/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #c0bbbb;
}

.navbar{
    width: 100%;
    position: relative;
    top: 0;
    background-color: #1b99b4;
    z-index: 3;
}

.first-row{
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
}

.site-header{
    width: 15%;
    margin-left: 5%;
}

.site-header h1{
    font-size: xxx-large;
    margin: 0;
}

.search-bar-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 100%;
    background: #fff;
    display: flex;
    padding: 0;
    border-radius: 4px;
    align-items: center;
}

#select{
    min-height: 80px;
    background: #295270;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 25%;
    cursor: pointer;
    position: relative;
    padding: 10px 10px;
    border-radius: 4px;
}

#select ul{
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    width: 100%;
    border-radius: 4px;
    padding: 0;
    background-color: #295270;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1;
}

#select ul.open{
    max-height: 600px;
}

#select ul li{
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
}

#select ul li:hover{
    background-color: #4386b7;
}

.search-bar input{
    width: 75%;
    margin-left: 15px;
    border: none;
    outline: none;
    font-size: 18px;
}

.search-bar .fa-magnifying-glass{
    color: #295270;
    margin-right: 10px;
    padding: 25px 15px;
}

.search-bar .fa-magnifying-glass:hover{
    border-radius: 50%;
    background-color: #c5c1c1;
    cursor: pointer;
}


.icon-navbar{
    margin-left: 2%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-navbar p{
    margin-bottom: 2px;
    margin-top: 0;
    font-weight: lighter;
}

.icon-navbar p:last-child{
    font-weight: bolder;
}

.icon-navbar i{
    align-content: center;
    padding-right: 10px;
   font-size: xx-large;
}

.icon-navbar div{
    display: flex;
    flex-direction: column;
}

.second-row{
    margin-top: 15px;
    background-color: rgb(26, 126, 148);
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.category-menu{
    border-radius: 10px 10px 0 0;
    padding: 10px;
    align-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.category-menu .option-name{
    padding: 10px;
}

.category-menu:hover{
    background-color: rgb(34, 165, 194);
    cursor: pointer;
}

.menu-list-container-right{
    display: flex;
    margin-top: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(34, 165, 194);
    color: white;
    padding: 0;
    border-radius: 0 0 0 10px;
}

.menu-list-right{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: none;
}

.menu-list-right.open{
    display: initial;
}

.menu-list-right li{
    padding: 20px;
    font-size: large;
    display: flex;
    justify-content: space-between;
}

.menu-list-right li:hover{
    background-color: rgb(26, 126, 148);
}

.menu-list-right > li:last-child:hover{
    border-radius: 0 0 0 10px;
}

.menu-list-right li i{
    padding-left: 50px;
}

.submenu-list-right{
    list-style: none;
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
    margin-top: 0;
    top: 0;
    background-color: rgb(34, 165, 194);
    padding-left: 0;
    border-radius: 0 10px 10px 0;
    display: none;
}

.submenu-list-right.open{
    display: initial;
}

.submenu-list-right li{
    padding: 15px;
    padding-left: 20px;
    font-size: large;
    display: flex;
    justify-content: space-between;
}

.submenu-list-right li:hover{
    background-color: rgb(26, 126, 148);
}

.menu-list-container-left{
    background-color: rgb(34, 165, 194);
    position: absolute;
    top: 100%;
    right: 0;
    width: 50em;
    padding: 0;
    display: flex;
    border-radius: 0 0 0 10px;
}

.menu-list-left{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: 0;
    display: none;
    width: 50%;
}

.menu-list-left.open{
    display: initial;
}

.menu-list-left li{
    padding: 20px;
    display: flex;
    font-size: large;
    justify-content: space-between;
}

.menu-list-left li:hover{
    background-color: rgb(26, 126, 148);
}

.menu-list-left > li:last-child:hover{
    border-radius: 0 0 0 10px;
}

.menu-list-left li i{
    padding: 0;
    margin: 0;
}

.submenu-list-left{
    list-style: none;
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    margin-top: 0;
    top: 0;
    background-color: rgb(34, 165, 194);
    padding-left: 0;
    display: none;
}

.submenu-list-left li{
    padding: 15px;
    padding-left: 20px;
    font-size: large;
    display: flex;
    justify-content: space-between;
}

.submenu-list-left li:hover{
    background-color: rgb(26, 126, 148);
}

.submenu-list-left.open{
    display: initial;
}













