@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../../../static/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../../../static/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #1b99b4;
}

.first-row{
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.site-header{
    width: 15%;
    margin-left: 5%;
}

.site-header h1{
    font-size: xxx-large;
    margin: 0;
}

.first-row div{
    font-size: large;
    padding-bottom: 10px;
    padding-top: 10px;
}

.search-bar{
    width: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    max-height: 50px;
}

.search-bar input{
    background: transparent;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
    width: 90%;
}

::placeholder{
    color: white;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #2797ce;
    cursor: pointer;
}

.icon-navbar{
    margin-left: 2%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-navbar p{
    margin-bottom: 2px;
    margin-top: 0;
    font-weight: lighter;
}

.icon-navbar p:last-child{
    font-weight: bolder;
}

.icon-navbar i{
    align-content: center;
    padding-right: 10px;
   font-size: xx-large;
}

.icon-navbar div{
    display: flex;
    flex-direction: column;
}





