{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link type="text/css" rel="stylesheet" href="{% static 'shop/main_page.css' %}">
    <script src="https://kit.fontawesome.com/975f0ff2c3.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="first-row">
                <div class="site-header"><h1>e-shop</h1></div>
                <div class="search-bar">
                    <input type="text" placeholder="Search..." name="search">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="icon-navbar">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div>
                        <p>Cart</p>
                        <p class="icon-info">money</p>
                    </div>
                </div>
                <div class="icon-navbar">
                    <i class="fa-regular fa-user"></i>
                    <div>
                        <p>Account</p>
                        <p class="icon-info">Username</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>