{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link type="text/css" rel="stylesheet" href="{% static 'shop/main_page.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'shop/slideshow.css' %}">
    <script src="https://kit.fontawesome.com/975f0ff2c3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <nav>
       <div class="navbar">
            <div class="first-row">
                <div class="site-header"><h1>e-shop</h1></div>
                <div class="search-bar-container">
                    <div class="search-bar">
                        <div id="select">
                            <p id="selectText">All categories</p>
                            <i class="fa-solid fa-v fa-flip-horizontal"></i>
                            <ul id="list">
                                <li class="options">All categories</li>
                                <li class="options">Laptops and computers</li>
                                <li class="options">Smartphones and smartwatches</li>
                                <li class="options">Gaming and streaming</li>
                                <li class="options">Hardware</li>
                                <li class="options">Off-line equipment</li>
                                <li class="options">TV and audio</li>
                                <li class="options">Smarthome and lifestyle</li>
                                <li class="options">Accessories</li>
                            </ul>
                        </div>
                        <input type="text" id="product-search" placeholder="Search In All Categories">
                        <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
                    </div>
                </div>
                <div class="icon-navbar">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div>
                        <p>Cart</p>
                        <p class="icon-info">money</p>
                    </div>
                </div>
                <div class="icon-navbar">
                    <i class="fa-regular fa-user"></i>
                    <div>
                        <p>Account</p>
                        <p class="icon-info">Username</p>
                    </div>
                </div>
            </div>
            <div class="second-row">
                <div class="category-menu">
                    <i class="fa-solid fa-laptop fa-2xl"></i>
                    <div class="option-name">Laptops<br>and computers</div>
                    <div class="menu-list-container-right">
                        <ul class="menu-list-right menu-list">
                            <li>Laptopy/Notebooki/Ultrabooki<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Notebooki/Laptopy 18"</li>
                                    <li>Notebooki/Laptopy 17"</li>
                                    <li>Notebooki/Laptopy 16"</li>
                                    <li>Notebooki/Laptopy 14"</li>
                                    <li>Notebooki/Laptopy 13"</li>
                                    <li>Notebooki/Laptopy 12,5"</li>
                                </ul>
                            </li>
                            <li>Laptopy biznesowe</li>
                            <li>Komputery stacjonarne<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Desktopy</li>
                                    <li>All in one</li>
                                </ul>
                            </li>
                            <li>Tablety<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Tablety 14,6"</li>
                                    <li>Tablety 13"</li>
                                    <li>Tablety 12"</li>
                                    <li>Tablety 11"</li>
                                    <li>Tablety 10"</li>
                                    <li>Tablety 9"</li>
                                </ul>
                            </li>
                            <li>Serwery<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Serwery</li>
                                    <li>Dyski serwerowe</li>
                                    <li>Pamięci RAM serwerowe</li>
                                    <li>Oprogramowanie serwerowe</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category-menu">
                    <i class="fa-solid fa-mobile fa-2xl"></i>
                    <div class="option-name">Smartphones<br>and smartwatches</div>
                    <div class="menu-list-container-right">
                        <ul class="menu-list-right menu-list">
                            <li>Laptopy/Notebooki/Ultrabooki<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Notebooki/Laptopy 18"</li>
                                    <li>Notebooki/Laptopy 17"</li>
                                    <li>Notebooki/Laptopy 16"</li>
                                    <li>Notebooki/Laptopy 14"</li>
                                    <li>Notebooki/Laptopy 13"</li>
                                    <li>Notebooki/Laptopy 12,5"</li>
                                </ul>
                            </li>
                            <li>Laptopy biznesowe</li>
                            <li>Komputery stacjonarne<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Desktopy</li>
                                    <li>All in one</li>
                                </ul>
                            </li>
                            <li>Tablety<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Tablety 14,6"</li>
                                    <li>Tablety 13"</li>
                                    <li>Tablety 12"</li>
                                    <li>Tablety 11"</li>
                                    <li>Tablety 10"</li>
                                    <li>Tablety 9"</li>
                                </ul>
                            </li>
                            <li>Serwery<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Serwery</li>
                                    <li>Dyski serwerowe</li>
                                    <li>Pamięci RAM serwerowe</li>
                                    <li>Oprogramowanie serwerowe</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category-menu">
                    <i class="fa-solid fa-gamepad fa-2xl"></i>
                    <div class="option-name">Gaming<br>and streaming</div>
                    <div class="menu-list-container-right">
                        <ul class="menu-list-right menu-list">
                            <li>Laptopy/Notebooki/Ultrabooki<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Notebooki/Laptopy 18"</li>
                                    <li>Notebooki/Laptopy 17"</li>
                                    <li>Notebooki/Laptopy 16"</li>
                                    <li>Notebooki/Laptopy 14"</li>
                                    <li>Notebooki/Laptopy 13"</li>
                                    <li>Notebooki/Laptopy 12,5"</li>
                                </ul>
                            </li>
                            <li>Laptopy biznesowe</li>
                            <li>Komputery stacjonarne<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Desktopy</li>
                                    <li>All in one</li>
                                </ul>
                            </li>
                            <li>Tablety<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Tablety 14,6"</li>
                                    <li>Tablety 13"</li>
                                    <li>Tablety 12"</li>
                                    <li>Tablety 11"</li>
                                    <li>Tablety 10"</li>
                                    <li>Tablety 9"</li>
                                </ul>
                            </li>
                            <li>Serwery<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Serwery</li>
                                    <li>Dyski serwerowe</li>
                                    <li>Pamięci RAM serwerowe</li>
                                    <li>Oprogramowanie serwerowe</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category-menu">
                    <i class="fa-solid fa-microchip fa-2xl"></i>
                    <div class="option-name">Hardware</div>
                    <div class="menu-list-container-right">
                        <ul class="menu-list-right menu-list">
                            <li>Laptopy/Notebooki/Ultrabooki<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Notebooki/Laptopy 18"</li>
                                    <li>Notebooki/Laptopy 17"</li>
                                    <li>Notebooki/Laptopy 16"</li>
                                    <li>Notebooki/Laptopy 14"</li>
                                    <li>Notebooki/Laptopy 13"</li>
                                    <li>Notebooki/Laptopy 12,5"</li>
                                </ul>
                            </li>
                            <li>Laptopy biznesowe</li>
                            <li>Komputery stacjonarne<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Desktopy</li>
                                    <li>All in one</li>
                                </ul>
                            </li>
                            <li>Tablety<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Tablety 14,6"</li>
                                    <li>Tablety 13"</li>
                                    <li>Tablety 12"</li>
                                    <li>Tablety 11"</li>
                                    <li>Tablety 10"</li>
                                    <li>Tablety 9"</li>
                                </ul>
                            </li>
                            <li>Serwery<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-right submenu-list">
                                    <li>Serwery</li>
                                    <li>Dyski serwerowe</li>
                                    <li>Pamięci RAM serwerowe</li>
                                    <li>Oprogramowanie serwerowe</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category-menu">
                    <i class="fa-solid fa-print fa-2xl"></i>
                    <div class="option-name">off-line equipment</div>
                    <div class="menu-list-container-left">
                        <ul class="menu-list-left menu-list">
                            <li>Laptopy/Notebooki/Ultrabooki<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Notebooki/Laptopy 18"</li>
                                    <li>Notebooki/Laptopy 17"</li>
                                    <li>Notebooki/Laptopy 16"</li>
                                    <li>Notebooki/Laptopy 14"</li>
                                    <li>Notebooki/Laptopy 13"</li>
                                    <li>Notebooki/Laptopy 12,5"</li>
                                </ul>
                            </li>
                            <li>Laptopy biznesowe</li>
                            <li>Komputery stacjonarne<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Desktopy</li>
                                    <li>All in one</li>
                                </ul>
                            </li>
                            <li>Tablety<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Tablety 14,6"</li>
                                    <li>Tablety 13"</li>
                                    <li>Tablety 12"</li>
                                    <li>Tablety 11"</li>
                                    <li>Tablety 10"</li>
                                    <li>Tablety 9"</li>
                                </ul>
                            </li>
                            <li>Serwery<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Serwery</li>
                                    <li>Dyski serwerowe</li>
                                    <li>Pamięci RAM serwerowe</li>
                                    <li>Oprogramowanie serwerowe</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category-menu">
                    <i class="fa-solid fa-tv fa-2xl"></i>
                    <div class="option-name">TV and audio</div>
                    <div class="menu-list-container-left">
                        <ul class="menu-list-left menu-list">
                            <li>Laptopy/Notebooki/Ultrabooki<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Notebooki/Laptopy 18"</li>
                                    <li>Notebooki/Laptopy 17"</li>
                                    <li>Notebooki/Laptopy 16"</li>
                                    <li>Notebooki/Laptopy 14"</li>
                                    <li>Notebooki/Laptopy 13"</li>
                                    <li>Notebooki/Laptopy 12,5"</li>
                                </ul>
                            </li>
                            <li>Laptopy biznesowe</li>
                            <li>Komputery stacjonarne<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Desktopy</li>
                                    <li>All in one</li>
                                </ul>
                            </li>
                            <li>Tablety<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Tablety 14,6"</li>
                                    <li>Tablety 13"</li>
                                    <li>Tablety 12"</li>
                                    <li>Tablety 11"</li>
                                    <li>Tablety 10"</li>
                                    <li>Tablety 9"</li>
                                </ul>
                            </li>
                            <li>Serwery<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Serwery</li>
                                    <li>Dyski serwerowe</li>
                                    <li>Pamięci RAM serwerowe</li>
                                    <li>Oprogramowanie serwerowe</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category-menu">
                    <i class="fa-solid fa-house-signal fa-2xl"></i>
                    <div class="option-name">Smarthome and lifestyle</div>
                    <div class="menu-list-container-left">
                        <ul class="menu-list-left menu-list">
                            <li>Laptopy/Notebooki/Ultrabooki<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Notebooki/Laptopy 18"</li>
                                    <li>Notebooki/Laptopy 17"</li>
                                    <li>Notebooki/Laptopy 16"</li>
                                    <li>Notebooki/Laptopy 14"</li>
                                    <li>Notebooki/Laptopy 13"</li>
                                    <li>Notebooki/Laptopy 12,5"</li>
                                </ul>
                            </li>
                            <li>Laptopy biznesowe</li>
                            <li>Komputery stacjonarne<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Desktopy</li>
                                    <li>All in one</li>
                                </ul>
                            </li>
                            <li>Tablety<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Tablety 14,6"</li>
                                    <li>Tablety 13"</li>
                                    <li>Tablety 12"</li>
                                    <li>Tablety 11"</li>
                                    <li>Tablety 10"</li>
                                    <li>Tablety 9"</li>
                                </ul>
                            </li>
                            <li>Serwery<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Serwery</li>
                                    <li>Dyski serwerowe</li>
                                    <li>Pamięci RAM serwerowe</li>
                                    <li>Oprogramowanie serwerowe</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category-menu">
                    <i class="fa-solid fa-plug fa-2xl"></i>
                    <div class="option-name">Accessories</div>
                    <div class="menu-list-container-left">
                        <ul class="menu-list-left menu-list">
                            <li>Laptopy/Notebooki/Ultrabooki<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Notebooki/Laptopy 18"</li>
                                    <li>Notebooki/Laptopy 17"</li>
                                    <li>Notebooki/Laptopy 16"</li>
                                    <li>Notebooki/Laptopy 14"</li>
                                    <li>Notebooki/Laptopy 13"</li>
                                    <li>Notebooki/Laptopy 12,5"</li>
                                </ul>
                            </li>
                            <li>Laptopy biznesowe</li>
                            <li>Komputery stacjonarne<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Desktopy</li>
                                    <li>All in one</li>
                                </ul>
                            </li>
                            <li>Tablety<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Tablety 14,6"</li>
                                    <li>Tablety 13"</li>
                                    <li>Tablety 12"</li>
                                    <li>Tablety 11"</li>
                                    <li>Tablety 10"</li>
                                    <li>Tablety 9"</li>
                                </ul>
                            </li>
                            <li>Serwery<i class="fa-solid fa-greater-than"></i>
                                <ul class="submenu-list-left submenu-list">
                                    <li>Serwery</li>
                                    <li>Dyski serwerowe</li>
                                    <li>Pamięci RAM serwerowe</li>
                                    <li>Oprogramowanie serwerowe</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
        <div class="slideshow">
            <div class="slideshow-container">
              <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="{% static 'shop/img/phone1.png' %}" style="width:100%">
                <div class="text">Caption Text</div>
              </div>

              <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="{% static 'shop/img/phone2.png' %}" style="width:100%">
                <div class="text">Caption Two</div>
              </div>

              <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="{% static 'shop/img/phone4.png' %}" style="width:100%">
                <div class="text">Caption Three</div>
              </div>

              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    </div>


<script src="{% static 'shop/js/searchBar.js' %}"></script>
<script src="{% static 'shop/js/mainMenu.js' %}"></script>
<script src="{% static 'shop/js/slideShow.js' %}"></script>
</body>
</html>